<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Examen TW</title>
</head>
<body>
<h1>
    Game saved successfully!
</h1>
<a th:href="@{/index}">Return to home</a>
</body>
</html>