<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Examen TW</title>
</head>
<body>
    <button><a th:href="@{/teams}">See teams</a></button>
    <button><a th:href="@{/games}">See games</a></button>
</body>
</html>