<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Examen TW</title>
</head>
<body>

<table>
    <tr>
        <th>Team Name</th>
        <th>State</th>
    </tr>
    <tr th:each="team : ${teams}">
        <td th:text="${team.getTeamName()}"></td>
        <td th:text="${team.getState()}"></td>
    </tr>
</table>

</body>
</html>