<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style>
            .inputText {
                display: inline-block;
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
                padding: 5px 10px;
                border: 1px solid #b7b7b7;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                font: normal 16px/normal "Times New Roman", Times, serif;
                color: rgba(40,40,40,1);
                -o-text-overflow: clip;
                text-overflow: clip;
                background: rgba(252,252,252,1);
                -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
                box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
                text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
                -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
                -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
                -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
                transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            }
            .button {
                display: inline-block;
                -webkit-box-sizing: content-box;
                -moz-box-sizing: content-box;
                box-sizing: content-box;
                cursor: pointer;
                padding: 5px;
                border: 1px solid #018dc4;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                font: normal 16px/normal "Times New Roman", Times, serif;
                color: rgba(40,40,40,1);
                -o-text-overflow: clip;
                text-overflow: clip;
                background: rgba(255,255,255,1);
                -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
                -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
                -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
                transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
            }
        </style>
    <title>Admin home page</title>
</head>
<body>
<h1>Admin page</h1>
<form th:action="@{/logout}" method="post">
    <input class="button" type="submit" value="Sign Out"/>
</form>
<div>
<!--    <div th:if="${not #lists.isEmpty(roles)}">-->
<!--        <h2>Roles</h2>-->
<!--        <table>-->
<!--            <tr>-->
<!--                <th>Id</th>-->
<!--                <th>Name</th>-->
<!--            </tr>-->
<!--            <tr th:each="role : ${roles}">-->
<!--                <td th:text="${role.id}"></td>-->
<!--                <td th:text="${role.name}"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div th:if="${#lists.isEmpty(roles)}">-->
<!--        <h1>Is Empty!</h1>-->
<!--    </div>-->

    <div th:if="${not #lists.isEmpty(users)}">
        <h2>Roles</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Roles</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.getUsername()}"></td>
                <div th:each="role : ${user.getUniqueSortedRoles()}">
                    <td th:text="${role}"></td>
                </div>
            </tr>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(users)}">
        <h3>No users exists in the database!</h3>
    </div>

    <h2 th:text="${currentUser}"></h2>
    <div>
        <form th:action="@{'/selectUserRemove'}">
            <select class="inputText" th:name="userItem">
                <option th:each="user : ${users}" th:value="${user.getUsername()}" th:text="${user.getUsername()}"></option>
            </select>
            <input class="button" type="submit" value="Select User" />
        </form>
    </div>
    <div th:if="${not #lists.isEmpty(currentUserRoles)}">
        <form th:action="@{'/selectRoleRemove/' + ${currentUser}}">
            <select class="inputText" th:name="roleItem">
                <option th:each="role : ${currentUserRoles}" th:value="${role}" th:text="${role}"></option>
            </select>
            <input class="button" type="submit" value="Remove Role" />
        </form>
    </div>

    <div th:if="${not #lists.isEmpty(currentUserUnassignedRoles)}">
        <form th:action="@{'/assignRole/' + ${currentUser}}">
            <select class="inputText" th:name="roleItem">
                <option th:each="role : ${currentUserUnassignedRoles}" th:value="${role}" th:text="${role}"></option>
            </select>
            <input class="button" type="submit" value="Assign Role" />
        </form>
    </div>
<!--        <select>-->
<!--            <option th:each="user : ${users}" th:value="${user.getUsername()}" th:text="${user.getUsername()}"></option>-->
<!--        </select>-->

</div>

</body>
</html>