<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>User home page</title>

    <style type="text/css">
        .error {
            padding: 15px;
            margin-bottom: 20px;
            color: #a94442;
            background-color: #f2dede;
        }

        .info {
            padding: 15px;
            margin-bottom: 20px;
            color: #31708f;
            background-color: #d9edf7;
        }

        .infoGreen {
            padding: 15px;
            margin-bottom: 20px;
            color: #368f3c;
            background-color: #d9edf7;
        }

        .inputText {
            display: inline-block;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            padding: 5px 10px;
            border: 1px solid #b7b7b7;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            font: normal 16px/normal "Times New Roman", Times, serif;
            color: rgba(40,40,40,1);
            -o-text-overflow: clip;
            text-overflow: clip;
            background: rgba(252,252,252,1);
            -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
            box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
            text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
            -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        }
        .button {
            display: inline-block;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            cursor: pointer;
            padding: 5px;
            border: 1px solid #018dc4;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            font: normal 16px/normal "Times New Roman", Times, serif;
            color: rgba(40,40,40,1);
            -o-text-overflow: clip;
            text-overflow: clip;
            background: rgba(255,255,255,1);
            -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
            -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
            -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
            transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
        }
    </style>

</head>
<body>
<h1>User page</h1>
<h2 th:text="${currentUser}"></h2>
<form th:action="@{/logout}" method="post">
    <input class="button" type="submit" value="Sign Out"/>
</form>

<!--<input id="inputText" th:field="${email}" type="text" />-->
<!--<p>Simple Text Field: <input type="text" th:field="*{textField}" /></p>-->

<!--<form th:action="@{/add/some}" >-->
<!--    <input type="text" th:name="name" />-->
<!--    <input type="submit" />-->
<!--</form>-->

<div>
    <div th:if="${not #lists.isEmpty(userRoles)}">
        <table>
            <tr>
                <th>Resource</th>
                <th>Select</th>
            </tr>
            <tr th:each="resourceName, iter : ${userResources}">
                <td th:text="${resourceName}"></td>

                <td>
                    <form th:action="@{'/selectResource/' + ${resourceName}}">
                        <input class="button" type="submit" value="Select" />
                    </form>
                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td th:if="${not rights.get('Read')}"><div class="error">Read</div></td>
                <td th:if="${rights.get('Read')}"><div class="infoGreen">Read</div></td>

                <td th:if="${not rights.get('Write')}"><div class="error">Write</div></td>
                <td th:if="${rights.get('Write')}"><div class="infoGreen">Write</div></td>

                <td th:if="${not rights.get('Update')}"><div class="error">Update</div></td>
                <td th:if="${rights.get('Update')}"><div class="infoGreen">Update</div></td>

                <td th:if="${not rights.get('Delete')}"><div class="error">Delete</div></td>
                <td th:if="${rights.get('Delete')}"><div class="infoGreen">Delete</div></td>
            </tr>
        </table>

        <div th:if="${currentResource != null}">

            <p th:if="${(not rights.get('Write') && not rights.get('Update')) && rights.get('Read')}" type="text" th:text="${mainInputText}"></p>


            <form th:action="@{'/saveResource/' + ${currentResource.getId()}}">
                <input class="inputText" th:if="${rights.get('Write') || rights.get('Update')}" type="text" th:name="mainInput" th:value="${mainInputText}" />
                <p><input class="button" th:if="${rights.get('Write') || rights.get('Update')}" type="submit" value="Save" /></p>
            </form>
            <form th:action="@{'/deleteResource/' + ${currentResource.getName()}}">
                <input class="button" th:if="${rights.get('Delete')}" type="submit" value="Delete" />
            </form>
        </div>
    </div>

    <div th:if="${warningMessage != null}">
        <h2 th:text="${warningMessage}"></h2>
    </div>

    <div th:if="${#lists.isEmpty(userRoles)}">
        <h2>No role assigned!</h2>
    </div>
</div>

</body>
</html>